/*Color primario:
#8123de. 
Color secundario:
#99ff00
Color terciario: #46543a */

.milanesa{
    color:white;
    background-color:black;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../Imagenes/lenguaje-min.jpg")
}

.h1{
    background-color: rgb(148, 185, 223);
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif ;
}

.ul,.li1,.li2,.li3{

    color: #8123de;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.mario,.bros,.nintendo{

    background-color: aquamarine;
    width: 50%;
   
    
}
.contenedor1 {
    background-color: red;
    width: 50%;
    height: 90vh;
    margin: auto;
    padding: 1em
}
.contenedor2 {
    background-color: green;
    width: 40%;
    height: 80vh;
    padding: 1em
   
}
.contenedor3 {
    background-color: pink;
    width: 30%;
    height: 70vh;
    padding: 1em
}
.contenedor4 {
    background-color: blue;
    width: 20%;
    height: 60vh;
    padding: 1em
}